################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormApi/.vs
/FormApi/FormApi/bin/Debug
/FormApi/FormApi/obj
/.vs
